{% extends "base.html" %}

{% block title %}
Article details
{% endblock %}
{% block body %}

    <h1>
       <span class="badge bg-secondary"> {{ article.title }}</span>
    </h1>
    <br>
    Author: {{ article.author.user.username }}
    <br>
    <br>
    {{ article.text }}
    <br>
    <br>
    {{ article.published_date.strftime('%Y-%m-%d в %H:%M') }}

     {% if article.tags %}
        <div>Tags:</div>
        <ul>
            {% for tag in article.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

       <form action="{{ url_for('article.delete_article', pk=article.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
{% endblock %}






