{% extends "base.html" %}

{% block title %}
Articles
{% endblock %}
{% block body %}
{% for article in articles %}
        <span class="badge bg-secondary">

            <a href="{{ url_for('article.get_article', pk=article.id) }}"><h5>{{ article.title }}</h5></a>

            {{ article.author.user.username }} опубликовал {{ article.published_date.strftime('%Y-%m-%d в %H:%M') }}
        </span>
{% endfor %}
<div>
<hr>
    <a href="{{ url_for('article.create_article') }}"><h5>Создать новую статью</h5></a>
</div>

{% endblock %}




